@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');
@import 'tailwindcss';

.active {
  color: rgb(238, 30, 30);
  font-weight: 600;
}

.outfit {
  font-family: "Outfit", sans-serif;
}
.playwrite{
  font-family: "Playwrite CU", cursive;
}


body{
  font-family: "Outfit", sans-serif;
}


.parent { display: grid; grid-template-columns: repeat(5, 1fr); grid-template-rows: repeat(5, 1fr); grid-column-gap: 0px; grid-row-gap: 0px; } .div1 { grid-area: 1 / 1 / 2 / 2; } .div2 { grid-area: 2 / 1 / 3 / 2; } .div3 { grid-area: 1 / 2 / 2 / 3; } .div4 { grid-area: 2 / 2 / 3 / 3; } .div5 { grid-area: 1 / 3 / 3 / 4; }